<h2>Delete Product</h2>

<div class="confirmation">
  <p>Are you sure you want to delete "<%= product.name %>"?</p>
  
  <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-danger">Confirm Delete</button>
    <a href="/products/<%= product._id %>" class="btn">Cancel</a>
  </form>
</div>